<div class="center jumbotron">
  <h1>Welcome to iNote</h1>
  <h2>
      Having trouble to review all the information you noted? We'll flash it for you!
  </h2>
  <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary", id: "btn-signup" %>
</div>
