/* Main */

@font-face {
  font-family: 'Decker';
  src: url('http://www.fontsaddict.com/fontface/decker.ttf');
}

body {
  padding-top: 60px;
  font-family: Decker, 微軟正黑體 !important;
}

.home-page {
  background-image: image-url("home_background.jpg");  
  background-size: 100%;
  background-repeat: no-repeat;
}

.jumbotron {
  padding-top: 100px !important;
  background-color:transparent !important;
  color: #FFFFFF !important;
}

.navbar-header li a {
  transition: color 0.3s ease-in 0s;  
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.popover{
    width: 400px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* typography */

span.glyphicon-flash {
  font-size: 1em;
  color: #f8f906;
}

span.glyphicon-flash-mainpage {
  font-size: 4em !important;
  color: #FFFFFF;
}

span.glyphicon-flash-disable {
  color: #666666 !important;  
}

span.glyphicon-star-gold {
  font-size: 1em;
  color: #C98910 !important;
}

span.glyphicon-star-silver {
  font-size: 1em;
  color: #A8A8A8 !important;
}

span.glyphicon-star-bronze {
  font-size: 1em;
  color: #965A38 !important;
}

span.glyphicon-eye-open {
  font-size: 1.5em;
  color: #000000 !important;
}

span.glyphicon-ok-circle {
  color: #a6a6a6 !important; 
  &:hover {
    color: #008000 !important;
  }
}

span.glyphicon-ok-circle-done {
  color: #008000 !important;  
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h2.link-title {
  font-weight: bold !important;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.list-group h4 {
  text-align: center;
}
/*Specific items*/

#btn-signup {
  margin-top: 30px; 
}


#btn-flash {
  margin-top: 30px; 
  font-size: 1.4em;
  background-color: transparent;
  border: 0;
}

#btn-add {
  margin-top: 30px;  
}

.btn-homepage {
  border-radius: 10px !important;
  
}

.btn-quicknote {
  background-color: #ff6600 !important;
  border: 0 !important;
  border-radius: 10px !important;
}

/* image */


/*popover*/

.popover {
    max-width: 50%;
}

/*list-group*/

li.list-flash {
  border: 0 none;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

/*table*/

tr.tr-go { 
  cursor: pointer; 
}

/* image */
.img-center {
    display: block !important;
    margin: 20px auto 20px auto;
}

/* link */
.link-disable {
  pointer-events: none;
  cursor: default;  
}

#links {
  
  .darken {
    background: black;
    position: relative;
    color: #FFFFFF;
    &:hover {
      img {
        opacity: 0.7;  
      }
      .user_count_show {
        display: block;  
      }
    }
    .user_count_show {
      position: absolute;  
      left: 0;
      right: 0;
      top: 50%;
      display: none;
    }
    
  }
  
  
  position: relative;

  .glyphicon-total-user {
    font-size: 3em;
    position: absolute;
    top: -22px;
    right: -20px;
  } 
  
  .label-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FFFFFF;
    color: #666666;
    padding: .3em .6em .3em;
    transition: background-color 0.5s ease-in 0s;
    transition: background-color 0.5s ease-in 0s;
    &:hover {
      background-color: #666666;
      color: #FFFFFF;
    }
  }
  .panel-heading {
    padding: 0;
  } 
  .panel-footer {
    h5 {
        text-align: left;
	}
  }    
  
  margin: 0 auto;
  width: 100%;
  
  .box {
	  margin: 10px;
	  width: 350px;
	  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	max-height: 300px;
	  	transition: all 0.3s linear;
	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {
				color: #474747;
	  	}
	  }
	  .user {
	  	font-size: 12px;
	  	border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
	  }
	  
	}
}

#link_show {
  margin-top: 20px;
	.panel-heading {
		h2 {
		  letter-spacing: 1px;
			text-align: left;
			margin: 5px;
		}	 
	}
	.link_show_left {
	  padding-right: 30px !important;
	}
	
	.link_image {
		img {
	  	max-width: 100%;
	  	max-height: 350px;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		img {
		  float: left;
	  	max-width: 100%;
	  	max-height: 350px;
			display: block;
			margin: 0 20px 15px 0;		  
		}
		.description {
			color: #868686;
			line-height: 1.75;
			letter-spacing: 1px;
		}
	}
	.panel-footer {
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}
}

/* pagination */
.pagination-show-page ul {
  margin: 0 0 !important;
}

.pagination-show-page ul li a {
  color: #000000 !important;
}

.active-pagination a {
  background-color: #ccc !important;
  border-color: #ccc !important;
}

/* review */
.each-review {
  padding: 10px 10px 5px 10px;
}

.reviews {
  width: 100%;
  margin-top: 20px;
}

/*search*/

.search_form {
  margin: 7px !important;
}




